<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wick.store.repository.ProductCoverMapper">

    <select id="queryPage" resultType="com.wick.store.domain.vo.ProductCoverVo">
        select * from product_cover pc
        where is_deleted =0
        order by pc.create_date
    </select>
</mapper>