<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wick.store.repository.ProductInfoMapper">
    <resultMap id="BaseResultMap" type="com.wick.store.domain.entity.ProductInfoEntity">
        <result property="pubCode" column="pub_code" jdbcType="VARCHAR"/>
    </resultMap>
    <update id="updateByStatus">
        update product_info set status=#{status} where id=#{productId}
    </update>

    <update id="updateBatchProductStatus">
        update product_info set status = #{status} where id in
        <foreach collection="productIds" item="item" open="(" close=")" separator=",">
            #{item}
        </foreach>
    </update>
    <update id="updateByWeight">
        update product_info set weight=#{weight} where id=#{productId}
    </update>

    <delete id="deleteRemovedProduct">
        update product_info set is_deleted = 1 where id = #{id} and status in (0, 3, 4)
    </delete>

    <select id="queryHotProduct" resultType="com.wick.store.domain.vo.ProductHotVo">
        select * from product_info pi where pi.cid=#{cid} and is_deleted=0 and status=2
    </select>

    <select id="selectByProduct" resultType="com.wick.store.domain.vo.ProductInfoVo">
        select pi.*,pc.name as cidName,pc.url as api from product_info pi
        inner join product_category pc on pc.id=pi.cid
         where pi.id=#{productId} and pi.is_deleted=0
         and status=2
    </select>

    <select id="queryPage" resultType="com.wick.store.domain.vo.ProductInfoVo">
        select pi.*,pc.name as cidName from product_info pi
        inner join product_category pc on pc.id=pi.cid
        where pi.is_deleted=0
        <if test="productInfoDto.cid != null">
            AND pc.name=#{productInfoDto.cidName,javaType=VARCHAR}
        </if>
    </select>

    <select id="getProductIdsByPubCode" resultType="java.lang.String">
        select id
        from product_info
        where  is_deleted = 0 and pub_code in
        <foreach collection="pubCodes" item="item" open="(" close=")" separator=",">
            #{item}
        </foreach>
    </select>

    <select id="getCidAndId" resultType="com.wick.store.domain.Dto.ProductInfoDto">
        select id,cid from product_info where name=#{name}
    </select>

    <select id="selectBySubscriber" resultType="com.wick.store.domain.Dto.CreateSubscribeRecordDto">
        select pi.id as productId, pi.name as productName,pi.cid from product_info pi where pi.pub_code=#{pubCode}
    </select>
    <select id="selectByApi" resultType="java.lang.String">
        select api from product_info where id=#{productId}
    </select>

</mapper>