<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wick.store.repository.ProductCategoryMapper">
    <delete id="deleteByCid">
        update product_category set is_deleted=1 where id=#{id}
    </delete>
     <select id="queryPage" resultType="com.wick.store.domain.vo.ProductCategoryVo">
         select * from product_category pc
         where is_deleted=0
         <if test="productCategoryDto != null">
             <if test="productCategoryDto.name != null and formPageDto.name  != ''">
                 AND pc.name like (CONCAT('%', #{formPageDto.name,jdbcType=VARCHAR}, '%'))
             </if>
             <if test="productCategoryDto.workflowId != null and formPageDto.productType != ''">
                 AND pc.workflow_id = #{formPageDto.workflowId,jdbcType=VARCHAR}
             </if>
         </if>
         order by pc.created_date
    </select>

    <select id="selectByWorkflow" resultType="java.lang.String">
        select pc.workflow_formula from product_category pc where pc.id=#{cid}
    </select>
    <select id="selectByCidList" resultType="com.wick.store.domain.vo.ProductCategoryListVo">
        select id,name from product_category where is_deleted=0
    </select>
</mapper>