<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wick.store.repository.PublishWorkflowApproveMapper">


    <update id="updatePublishStatus">
        update workflow_publish_approve set node_approve_status=#{approveStatus},
        node_approver=#{approveUser},approve_time=#{approveTime}
        where pub_code=#{pubCode} and node_id=#{nodeId} and cid=#{cid}
    </update>
    <select id="selectByPubCodeAndUserList"
            resultType="com.wick.store.domain.entity.PublishWorkflowApproveEntity">
        select * from workflow_publish_approve where
        pub_code = #{pubCode}
    </select>
    <select id="selectNodeMessage"
            resultType="com.wick.store.domain.Dto.PublishApproveNode">
        select node_id as wfNodeId,cid,pub_code as pubCode from workflow_publish_approve where id=#{id}
    </select>
    <select id="selectByCode" resultType="com.wick.store.domain.entity.PublishWorkflowApproveEntity">
        select * from workflow_publish_approve where
        pub_code = #{pubCode}
    </select>
    <select id="selectByName" resultType="java.lang.String">
        SELECT distinct tu.username as ownerName from t_user tu
        inner join workflow_publish_approve wpa on wpa.user_list =tu.id
        WHERE wpa.user_list =#{userList}
    </select>
</mapper>
