<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wick.store.repository.PublishApproveMapper">
    <update id="updateByApproveStatus">
        update publish_approve set approve_status = #{approveStatus},approver = #{approveUser}
        ,approve_time = #{approveTime} where pub_code = #{pubCode}
    </update>
    <select id="selectPublisherApproveNodeData" resultType="com.wick.store.domain.vo.ProductPublishApproveVo">
        select * from workflow_publish_approve wpa
        inner join publish_approve pa on pa.pub_code =wpa .pub_code
        inner join product_category pc on pc.id=pa.cid
        where
        pa.approve_status in
        <foreach collection ="statusList" open="(" close=")" item="item" separator=",">
            #{item}
        </foreach>
        and wpa.node_approve_status in
        <foreach collection="nodeStatusList" open="(" close=")" item="item" separator=",">
            #{item}
        </foreach>
        <if test="requestDto.pubCode != null and requestDto.subCode != '' ">
            AND wpa.pub_code = #{requestDto.subCode,jdbcType=VARCHAR}
        </if>
        <if test="requestDto.productName != null and requestDto.productName != '' ">
            AND wpa.product_name = #{requestDto.productName,jdbcType=VARCHAR}
        </if>
        <if test="requestDto.cidName != null and requestDto.cidName != '' ">
            AND pc.name = #{requestDto.cidName,jdbcType=VARCHAR}
        </if>
    </select>
</mapper>