<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wick.store.repository.SubscribeWorkflowApproveMapper">


    <update id="updateSubscribeStatus">
        update workflow_subscribe_approve set
        node_approval_status=#{approveStatus},approve_time=#{approvalTime},node_approver=#{approveUser}
        where sub_code=#{subscribeCode} and node_id=#{nodeId} and cid=#{cid}
    </update>
    <select id="selectBySubCodesAndNodeId"
            resultType="com.wick.store.domain.entity.SubscribeWorkflowApproveEntity">
        select * from
        workflow_subscribe_approve where sub_code=#{subscribeCode}
    </select>
    <select id="selectNode" resultType="com.wick.store.domain.Dto.SubscribeApproveNode">
        select sub_code,cid,node_id as wfNodeId from workflow_subscribe_approve
    </select>
</mapper>